/*폰트*/
@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Nanum+Gothic:wght@400;700;800&display=swap');
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/*초기화*/
*{margin: 0; padding: 0;}
ul, li{list-style: none;}
a{text-decoration: none; color: inherit;}
body{
  font-family: 'GmarketSansMedium';
  font-size: 14px;
  color: #111;
  box-sizing: border-box;
}

/*부트스트랩 슬라이드 배경*/
#carouselExampleIndicators{
  position: relative;
}
.carousel-inner img{
  height: 850px;
}

/*공통부분:container*/
.container{
  min-width: 1000px;
  width: 100%;
  margin: 0 auto; /*가운데정렬*/
  box-sizing: border-box;
  padding: 0 10px;
}

/*상단 로고+메뉴부분*/
.topMenu{
  width: 1200px;
  position: absolute; 
  top: 0; left: 50%;  /*위치설정*/
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between; /*요소 양끝에 배치*/
}
.topNav > ul{
  display: flex;
}
.topNav li{
  font-size: 20px;
  font-weight: bold;
  margin: 10px 20px;
}

/*banner*/
#banner{
  width: 100%;
  height: 500px;
  border: 5px solid purple;
  padding: 30px 10px;
}
.banner-wrap{
  border: 2px solid black;  /*영역 확인용*/
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.banner-wrap h3, p{
  margin-left: 50px;
}
.banner_box{
  margin: 0 auto;
  /*가운데정렬*/
}
.banner_box > img{
  width: 280px;
  height: 280px;
  border-radius: 30%;
  margin: 10px;
}

/*이미지+텍스트 박스1*/
#image-textbox{
  width: 100%;
  height: 500px;
  border: 5px solid yellow;
  padding: 30px 10px;
}
.it-box{
  border: 2px solid orange;
  background-color: #f1eded;
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
}
.it-box > img{  /*이미지*/
  width: 650px;
  height: 400px;
}
.it-box > .txt{
  margin: 60px 30px;
}
.it-box > .txt > h1{
  font-size: 36px;
}
.it-box > .txt > p{
  font-size: 14px;
  line-height: 25px;
}
.it-box > .img-txt-btn{
  width: 200px;
  height: 40px;
  position: absolute;
  right: 40px; bottom: 20px;
  border: 1px solid #666;
  background-color: transparent;
}

/*sub-image-box*/
#sub-image-box1{
  width: 100%;
  height: 700px;
  border: 5px solid pink;
  padding: 30px 10px;
}
.image_wrap{
  display: flex;
  border: 2px solid black;
  margin: 0 auto;
  /*가운데정렬*/
}
/*이미지요소*/
.sub-img > img{
  width: 300px;
  height: 450px;
  border-radius: 20%;
  margin: 10px;
}
.sub-img > h1, .sub-img > p{
  margin-left: 50px;
}

