/*폰트*/
@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Nanum+Gothic:wght@400;700;800&display=swap');
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*초기화*/
*{margin: 0; padding: 0;}
ul, li{list-style: none;}
a{text-decoration: none; color: inherit;}
body{
  font-family: 'GmarketSansMedium';
  font-size: 14px;
  color: #111;
  box-sizing: border-box;
}

/*공통속성 : container*/
.container{
  min-width: 1000px;
  width: 100%;
  margin: 0 auto; /*가운데정렬*/
  box-sizing: border-box;
  padding: 0 10px;
}
/*header*/
.topMenu{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}
.topMenu h1{
  border: 1px solid red;
  width: 160px;
  cursor: pointer;
  text-align: center;
  font-size: 36px;
  margin-left: 30px
}
.topMenu a{
  width: 60px;
  cursor: pointer;
}
nav{
  flex: 1;
  padding-left: 60px;
}
nav ul{
  border: 1px solid red;
}
nav ul li{
  display: inline-block;
  margin: 0 30px;
  font-size: 18px;
}
/*section:banner*/
#banner{}
.banner-all{
  border: 1px sol black;
  background-color: white;
  position: relative;
  background: url(../image/자동차배경이미지3.jpeg) center/cover;
  width: 100%;
  height: 90vh;
}
.banner-sub{ /*여러 이미지 박스*/
  display: flex;
  position: absolute;
  bottom: -15%; left: 10%;
  color: white;
  text-align: center;
  margin: 10px;
  padding: 0px 30px
}
.banner-sub-box1{
  background: url(../image/bg_image1.jpg) center;
  width: 200px;
  height: 200px;
  margin: 10px 60px;
}
.banner-sub-box2{
  background: url(../image/bg_image2.jpg) center;
  width: 200px;
  height: 200px;
  margin: 10px 60px;
}
.banner-sub-box3{
  background: url(../image/bg_image3.jpg) center;
  width: 200px;
  height: 200px;
  margin: 10px 60px;
}
.banner-sub-box4{
  background: url(../image/bg_image4.jpg) center;
  width: 200px;
  height: 200px;
  margin: 10px 60px;
}
.banner-sub .banner-txt{
  width: 100px;
  height: 100px;
  background-color: transparent;
  margin: 0 auto;
  padding-top: 30px;
}
.banner-sub .banner-txt p{
  padding-top: 10px;
}


.sub-title{
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: -40%;
  align-items: center;
}
.sub-title .sub-title-box{
  display: flex;
  width: 65%;
  height: 150px;
  border: 1px solid black;
  background-color: #174073;
  margin: 0 auto;
  padding-left: 30px;
  border-radius: 10px;
}
.sub-txt{
  width: 550px;
  margin: 10px;
  /*요소사이 여백줄이기*/
}

.sub-txt h1{
  padding-top: 30px;
  padding-left: 15px;
  color: white;
}
.sub-txt p{
  width: 150px;
  height: 30px;
  line-height: 2.5;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
}


/*section:main*/
/*footer*/