/*폰트*/
@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&display=swap'); /*font-family: "Odor Mean Chey"*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); /*"Oswald"*/

/*초기화*/
*{margin: 0; padding: 0;}
ul, li{list-style: none;}
a{text-decoration: none; color: inherit;}

/*공통속성 : container*/
.container{
  max-width: 1200px;
  width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}
/*--------------------------------------------------*/
/*header*/
header{
  width: 100%;
  color: #fff;
  font-family: "Odor Mean Chey";
}
header > .bg-color{
  width: 100%;
  height: 830px;
  background-color: #0b1330;
}
/*메뉴 부분*/
.list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.3);
}
/*로고*/
.list > .logo{
  /*border: 1px solid red;  영역 확인용*/
  width: 200px;
  height: 70px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ci/logo-white_new2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.list > ul{
  display: flex;
}
.list > ul > li{
padding: 0 40px;
margin-bottom: 15px;
font-size: 15px;
}
/*마우스이벤트 효과*/
.list li:hover, .list img:hover{
  color: pink;
}

/*박스오피스 영화부분*/
.moivie_box .box-office{
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.moivie_box .box-office > .box{
  cursor: pointer;
}
.moivie_box > h1{
  text-align: center;
  margin-top: 60px;
  font-size: 14px;
}
.moivie_box > .box-office > .box > img{
  width: 250px;
  height: 350px;
  border-radius: 10px;
}
/*예매하기 부분*/
.moivie_box .views{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.moivie_box .views p{
  font-size: 15px;
  line-height: 1.2;
  margin-bottom: 15px;
  padding-left: 10px;
}
/*버튼*/
.moivie_box .views button{
  border: 0;
  background-color: #037b94;
  width: 160px;
  height: 35px;
  border-radius: 7px;
  margin-bottom: 15px;
  color: #fff;
  cursor: pointer;
}

/*예매하기 및 기타 서브메뉴*/
.information{
  margin-top: 50px;
  background-color: rgba(0,0,0,0.2);
  height: 75px;
}
.information > ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 50px 0 0 0;;
}
.information > ul > li{
  width: 280px;
  padding: 25px 0 0 0;
  /*구분선 추가*/
}
/*마우스이벤트 효과*/
.information > ul > li > a:hover{
  text-decoration: underline;
}
/*영화검색 input요소*/
.information > ul > li > input{
  border: 0;
  border-bottom: 1px solid #777;
  background-color: transparent;
  outline: none;
  color: #fff;
  letter-spacing: 2px;
  padding-left: 5px;
}
/*--------------------------------------------------*/
/*section : 혜택 및 이미지 전체 부분*/

section{
  width: 100%;
}
section .boon{
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
}
section .boon > .txt{
  /* border: 2px solid red; */
  width: 680px;
  position:relative;
}
section .boon > .txt > .slide-img{
  width: 100%;
  height: auto;
  border: 1px solid red;
}
.active,
.dot:hover {
  background-color: #717171;
}
/*dot버튼*/
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}






/*-----*/
section .boon > .txt .bImg-box{
  display: flex;
  justify-content: space-between;
}
section .boon > .txt .bImg-box > .img > img{
  margin-top: 70px;
  width: 90%;
  height: 80%;

}
/*텍스트 부분*/
section .boon > .txt .bImg-box > .box-inner{
  /* border: 2px solid yellow; */
  width: 60%;
}
section .boon > .txt .bImg-box > .box-inner > h1{
  font-size: 36px;
}
section .boon > .txt .bImg-box > .box-inner > h3{
  font-weight: normal;
  font-size: 16px;
  margin-top: 30px;
}
section .boon > .txt .bImg-box > .box-inner > p{
  margin-bottom: 20px;
}

/*룩백 이미지*/
section .boon > .boon-img{
  margin-left: 20px;
}
section .boon > .boon-img > img{
  position: absolute;
  transform:translateY(20px);
  border-radius: 5px;
  width: 400px;
  z-index: 10;
}


/*할인+이벤트 이미지*/
section .boon > .txt > .b-event-box{
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: -170px;
}
section .boon > .txt > .b-event-box > img{
  width: 470px;
  height: 180px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  z-index: 10;
}
section .boon > .txt > .b-event-box > img:nth-of-type(2){
  width: 200px;
  height: 180px;
}







/* section .boon > .txt .dot{
  position:absolute;
  width:50%;
  transform:translateY(-50px);
  display:flex;
  justify-content: center;
}
section .boon > .txt .dot span{
  display:block;
  width:10px; height:10px;
  border:1px solid #000;
  /* background-color:#000; */
  /* border-radius: 50%;
  margin:0 10px;
  cursor:pointer;
} */
/* section .boon > .txt .dot span.on{
  background-color: #000;
} */ */

/*--------------------------------------------------*/
/*section : */
section .event-menu{
  width: 100%;
  height: 300px;
  background-color: #503396;
  margin-top: 85px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  text-align: center;
}
section .event-menu > .box{
  padding-top: 50px;
  cursor: pointer;
}
/*마우스이벤트 효과*/
section .event-menu > .box:hover{
  color: gold;
}
section .event-menu > .box > h2{
  font-size: 14px;
  font-weight: normal;
}
/*아이콘*/
section .event-menu > .box > i{
  font-size: 35px;
  margin-bottom: 15px;
}


/*--------------------------------------------------*/
/*section : 큐레이션 부분*/
section > .bg-color2{
  background-color: #252451;
  width: 100%;
  height: 800px;
}
section .curation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 20px;
  color: #fff;
}
section .curation > h1{
  font-size: 32px;
}
/*버튼요소*/
section .curation > button{
  font-size: 15px;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
section .curation > button:hover{
  text-decoration: underline;
}
.introduction{
  display: flex;
  justify-content: space-around;
  color: #fff;
}
.introduction > .iMovie-1 > img{
  border-radius: 20px;
  margin-bottom: 10px;
}
/*버튼요소*/
.introduction > .iMovie-1 > .iBtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*버튼요소*/
.introduction > .iMovie-1 > .iBtn > button{
  border: 0;  
  background-color: transparent;  /*초기화*/
  width: 140px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.introduction > .iMovie-1 > .iBtn > button:nth-of-type(1){
  border: 2px solid #fff;
}
.introduction > .iMovie-1 > .iBtn > button:nth-of-type(2){
  background-color: #037b94;
}
/*텍스트 요소*/
.introduction > .iMovie-2 > h2{
  font-size: 20px;
  margin-bottom: 5px;
}
.introduction > .iMovie-2 > h1{
  font-size: 36px;
  border-bottom: 1px solid #999;  /*구분선*/
  padding-bottom: 30px;
  margin-bottom: 30px;
}
/*이미지요소*/
.introduction > .iMovie-2 > .iImg-Box{
  display: flex;
  justify-content: center;
  text-align: center;
}
.introduction > .iMovie-2 > .iImg-Box > .i-Img > img{
  border-radius: 10px;
  margin-top: 40px;
  margin-right: 20px;
  width: 170px;
  cursor: pointer;
}
.introduction > .iMovie-2 > .iImg-Box > .i-Img > p{
  font-size: 13px;
}
/*--------------------------------------------------*/
/*section : 극장안내 부분*/
#cinema h2{
  margin: 30px auto 10px;
  padding: 10px 20px;
  font-size: 30px;
  color: #333;
}
#cinema .C-box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
/*극장*/
#cinema .C-box > .theater{
  border: 2px solid pink;
  width: 180px;
  height: 180px;
  margin: 10px;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  filter: grayscale(1);
  padding-top: 30px;
  box-sizing: border-box;
}
#cinema .C-box > .theater:nth-of-type(1){
  background: url(../image/극장안내이미지.avif) center/cover;
}
#cinema .C-box > .theater:nth-of-type(2){
  background: url(../image/영화관이미지1.png) center/cover;
}
#cinema .C-box > .theater:nth-of-type(3){
  background: url(../image/영화관이미지2.png) center/cover;
}
#cinema .C-box > .theater:nth-of-type(4){
  background: url(../image/극장안내이미지.avif) center/cover;
}
#cinema .C-box > .theater:nth-of-type(5){
  background: url(../image/영화관이미지4.png) center/cover;
}
#cinema .C-box > .theater:nth-of-type(6){
  background: url(../image/영화관이미지5.png) center/cover;
}



#cinema .C-box > .theater > h1{
  font-size: 20px;
}
/*마우스이벤트 효과*/
#cinema .C-box > .theater:hover{
  filter: grayscale(0);
}
/*--------------------------------------------------*/
/*section : 간단 공지사항 안내 글*/
section > .line{
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 60px;
  margin-top: 50px;
}
section .container > .content{
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #222;
}
/*왼쪽 안내글*/
section .content > .txt{
  display: flex;
  align-items: center;
}
section .content > .txt > p{
  font: 13px;
  margin-left: 20px;
}
section .content > .txt > p > b{
  color: #037b94;
}
/*왼쪽 안내글*/
section .content > .date{
  display: flex;
  align-items: center;
}
section .content > .date > p{
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #ccc;
}
/*버튼요소*/
section .content > .date > button{
  outline: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
section .content > .date > button:hover{
  text-decoration: underline;
}

/*--------------------------------------------------*/
/*section : 공지사항, Q&A*/
section > .bg-color3{
  margin: 30px 0;
  padding-top: 50px;
}
section > .bg-color3 .user-menu{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
section > .bg-color3 .user-menu > .box{
  width: 190px;
  height: 150px;
  color: #222;
  padding-top: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
/*아이콘*/
section > .bg-color3 .user-menu > .box > i{
  color: #037b94;
  font-size: 40px;
}
/*텍스트*/
section > .bg-color3 .user-menu > .box > h2{
  font-size: 20px;
  margin-top: 10px;
  color: #555;
}
section > .bg-color3 .user-menu > .box:hover{
  text-decoration: underline;
}
/*--------------------------------------------------*/
/*section : 절찬상영중 포스터*/
section{
  width: 100%;
  height: 100%;
}
section > .poster{
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #eef1de;
}
/*--------------------------------------------------*/
/*footer*/
footer > .bg-color4{
  background-color: #f8f8fa;
}
footer .f-box{
  width: 100%;
  height: 200px;
}
footer .content{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
footer .content > ul{
  display: flex;
}
footer .content > ul > li{
  color: #666;
  line-height: 30px;
  padding: 0 7px;
  font-size: 14px;
  cursor: pointer;
}
/*마우스이벤트*/
footer .content > ul > li:hover{
  text-decoration: underline;
}
footer .content > p{
  border: 1px solid #333;
  border-radius: 30px;
  width: 105px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  font-size: 14px;
}

/**/
footer .f-box > .f-menu{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  margin-top: 50px;
}
/*로고 이미지*/
footer .f-box > .f-menu > .logo-img{
  width: 150px;
  height: 50px;
  background: url(https://img.megabox.co.kr/static/pc/images/common/ci/logo-opacity_new2.png) no-repeat center;
}
footer .f-box > .f-menu > .txt{
  font-size: 13px;
  margin-left: 50px;
  width: 65%;
}
/*sns 아이콘*/
footer .f-box > .f-menu > .sns{
  font-size: 24px;
  margin-left: 60px;
  color: gray;
  padding-bottom: 25px;
  box-sizing: border-box;
  cursor: pointer;
}
